.rmdexercise, .rmdnote, .rmdwarning {
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
}
.rmdexercise {
  background: #2bbbad 5px center/3em no-repeat;
  background-image: url("./images/exercise.png");
}
.rmdnote {
  background: #4285f4 5px center/3em no-repeat;
  background-image: url("./images/note.png");
}
.rmdwarning {
  background: #aa66cc 5px center/3em no-repeat;
  background-image: url("./images/warning.png");
}
p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}
p.flushright {
  text-align: right;
}
blockquote > p:last-child {
  text-align: right;
}
blockquote > p:first-child {
  text-align: inherit;
}
